<div class="container">

  <h1>Commandes par client - Général</h1>
  <p><%= link_to "Retour", :back %></p>

  <ul>
    <% @years.each do |year| %>
    <li>
      <p><%= year[0] %> - <%= pluralize(year[1], "commande") %><%= link_to "Détail par semaine", customer_orders_year_path(2019) %></p>
    </li>
    <% end %>
  </ul>

</div>
