<div class="container">
  <h1>Récap des commandes</h1>
    <ul>
      <% @orders.each do |order| %>
      <li>
        <p>Semaine <%= order[0] %> - <%= order[1] %> commandes - <%= link_to "Détail", customer_order_path(order[0]) %></p>
      </li>
      <% end %>
    </ul>

</div>

