.container {
  margin-bottom: 40px;
  padding-top: 30px;
}

.container800 {
  max-width: 800px;
  margin: 0 auto 40px auto;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  form {
    margin-left: 10px;
  }
}

.container-vertical {
  height: calc(100vh - 170px);
  display: flex;
  flex-direction: column;
  justify-content: center;
}
