.container {
  margin-bottom: 40px;
}

.container800 {
  max-width: 800px;
  margin: 0 auto 40px auto;
  display: flex;
  align-items: center;
  justify-content: flex-end;

  form {
    margin-left: 10px;
  }
}

