#intro {
  background-image: linear-gradient( rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.8) ),url("carottes.jpg");
  background-size: cover;
  background-position: 50% 50%;
}

.introname {
    font-family: 'Pacifico', cursive;
    color: $white;
    font-weight: bolder;
    font-size: 3.5em;
    text-shadow:
     2px   0  0   $graydark,
    -2px   0  0   $graydark,
     0    2px 0   $graydark,
     0   -2px 0   $graydark,
     1px  1px 0   $graydark,
    -1px -1px 0   $graydark,
     1px -1px 0   $graydark,
    -1px  1px 0   $graydark,
     1px  1px 5px $graydark;
}

.introbaseline {
  position: relative;
  color: $white;
  font-size: 4em;
  font-weight: 300;
  margin: 0.3em;
}
.introbaseline:after {
  content : "";
  position: absolute;
  left    : 40%;
  bottom  : -15%;
  width   : 20%;
  border-bottom:1px solid $white;
}

.introwelcome {
  font-family: "Courgette";
  font-weight: bold;
  color: #32B796;
  font-size: 2.5em;
  margin-bottom: 0.5em;
}


#introtxt {
  text-align: center;
  min-height: calc(90vh - 100px);
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#introcards {
  width: 100%;
  padding: 0 8%;
  display: flex;
  justify-content: space-around;
  position: absolute;
  bottom: -70px;
}

.introcard {
  height: 225px;
  width: 30%;
  display: flex;
  overflow: hidden;
}

.introcardtxt {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 60%;
}

.introcardpic {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 40%;
  position: relative;
  img {
    position: absolute;
    right: -90px;
    max-width: 160%;
  }
}

.graybackground {
  background: $graylight;
  padding: 250px 5% 20px 5%;
}

#graytitle {
  text-align: center;
  width: 60%;
  margin: 3em auto;
}

#people {
  display: flex;
  height: 50vh;
  padding: 0;
  position: relative;
}

#peoplebtn {
  position: absolute;
  bottom: 0;
  display: flex;
}

.btnactive {
  color: $green;
}

.slide {
  display: none;
}

.slide.active {
  display: flex;
  align-items: center;
  justify-content: center;
}

.peopletxt {
  width: 50%;
  padding: 30px;
}

.peopletxt.inactive {
  display: none;
}

.peoplepic {
  width: 50%;
  max-height:50vh;
  margin: 0;
  overflow: hidden;
}

#where {
  margin: 150px 10% 100px 10%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.place-to-find {
  padding: 30px;
  background: $white;
  height: 400px;
  width: 28%;
  text-align: center;
  position: relative;
  background: $white;
  border: 2px solid;
  box-shadow: 0 5px 50px 0 rgba(0, 0, 0, 0.08);
  border-color: $grayborder $grayborder $green $grayborder;
  border-bottom: 10px solid $green;
}

.place-to-find-icon {
  width: 30%;
  height: 30%;
  padding: 30px;
  border-radius: 50%;
  position: absolute;
  background: $white;
  border: 2px solid $green;
  top: -68px;
  left: 33%;
  margin: auto;
  display: flex;
  justify-content: center;
}

.homepage-bottom {
  padding: 30px 0 80px 0;
  h1 {
    margin-left: 30px;
  }
}

.homepage-photos {
  display: flex;
}

.hpleft, .hpright {
  width: 50%;
}

.hpleftbottom, .hprighttop {
  display: flex;
  width: 100%;
}

.hppic {
  height: 200px;
  margin: 8px;
  background-size: cover;
  background-position: 50% 50%;
}

.hplefttop {
  background-image: url('cagette.jpg');
  margin-left: 0;
  position: relative;
}

.hprightbottom {
  background-image: url('cagette.jpg');
  margin-right: 0;
}

.hpleftbottomleft {
  width: 50%;
  background-image: url('pousse.jpg');
  margin-left: 0;
}

.hpleftbottomright {
  width: 50%;
  background-image: url('coccinelle.jpg');
}

.hprighttopleft {
  width: 50%;
  background-image: url('clement_margaux.jpg');
}

.hprighttopright {
  width: 50%;
  background-image: url('pousse.jpg');
  margin-right: 0;
}

.overlay::before {
  content: "";
  display: none;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(52, 73, 94, 0.75);
}


.hppic:hover .overlay:before {
  display: block;
}
