.welcome {
  display: flex;
}

.welcomeleft {
  width: 45%;
  img {
    border-radius: 6px;
  }
}

.welcomeright {
  width: 55%;
  padding: 0 0 0 50px;
}

.intro-welcome {
  font-family: 'Pacifico';
  color: #32B796;
  font-size: 3em;
  display: block;
}

.intro-welcome-subtitle {
  font-weight: 700;
  font-size: 1.8em;
  color: $grayheaders;
}

.introiconwrapper {
  text-align: center;
  display: inline-block;
  margin: 1em 0 1.3em 0;
}
.introiconwrapper::before,
.introiconwrapper::after {
  content: '';
  display: inline-block;
  width: 7em;
  height: 1px;
  background: $green;
  vertical-align: middle;
}

.introwelcomeborder img {
  width: 60px;
}

.introwelcomeimg img {
  width: 60px;
}


.graybackground {
  background: $graylight;
  padding: 140px 5% 20px 5%;
  background-image: image-url("grass.svg");
  background-position: bottom;
  background-repeat: no-repeat;
}


@media screen and (max-width:1000px) {

  #graytitle {
    width: 100%;
    p {
      font-size: 1.1em;
    }
  }

}
