.welcome {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  color: $grayheaders;
}

.welcomeleft {
  width: 600px;
  padding: 0 50px 0 0;
  img {
    border-radius: 6px;
  }
}

.welcomeright {
  width: 650px;
}

.intro-welcome {
  font-family: 'Pacifico';
  color: #32B796;
  font-size: 30px;
  display: block;
}

.intro-welcome-subtitle {
  font-weight: 700;
  font-size: 30px;
  color: $grayheaders;
}

.introwelcomeblock {
  margin: 20px 0 0 0;
  p {
    font-size: 20px;
    line-height: 34px;
  }
}

.introiconwrapper {
  text-align: center;
  display: inline-block;
  margin: 1em 0 1.3em 0;
}
.introiconwrapper::before,
.introiconwrapper::after {
  content: '';
  display: inline-block;
  width: 7em;
  height: 1px;
  background: $green;
  vertical-align: middle;
}

.introwelcomeborder img {
  width: 60px;
}

.introwelcomebio {
  margin: 100px 0 50px 0;
  place-content: center;
  display: flex;
  align-items: center;
  img {
    width: 60px;
    margin: 0 15px 0 0;
  }
  p {
    font-size: 22px;
    margin: 0;
  }
}




.graybackground {
  background: $graylight;
  padding: 140px 5% 20px 5%;
  background-image: image-url("grass.svg");
  background-position: bottom;
  background-repeat: no-repeat;
}


@media screen and (max-width:1000px) {

  #graytitle {
    width: 100%;
    p {
      font-size: 1.1em;
    }
  }

  .welcomeleft {
    display: none;
  }

  .welcomeright {
    padding: 0;
  }

}
