#introcards {
  width: 100%;
  display: flex;
  justify-content: space-around;
  background-image: image-url("background.svg");
  background-size : cover;
  margin: auto;
  padding: 0 10%;
}

.introcard {
  height: 225px;
  max-width: 380px;
  justify-content: space-between;
  overflow: hidden;
  border-radius: 0;
  position: relative;
  padding: 30px;
  margin: 0 5px;
  transition: bottom 0.1s ease-out;
  bottom: 0;
  &:hover {
    bottom: 4px;
  }
}

  #introcard-1 {
    border-top: 3px solid #83E0C9;
  }

  #introcard-2 {
    border-top: 3px solid #F993A5;
  }

  #introcard-3 {
    border-top: 3px solid #FFD796;
  }

.introcardtitle {
  height: 40px;
  h3 {
    margin-top: 5px;
  }
}

.introcardcontent {
    display: flex;
    justify-content: center;
    height: 125px;
  }

.introcardtxt {
  width: 65%;
  display: flex;
  align-items: center;
  p {
    margin-bottom: 0;
  }
}

.introcardpic {
  width: 35%;
  display: flex;
  align-items: center;
  position: relative;
}

@media screen and (max-width:1000px) {

#introcards {
  flex-direction: column;
  align-items: center;
  padding: 0 5%;
}

.introcard {
  margin: 0 0 20px 0;
  padding: 20px;
}

}
