#where {
  margin: 240px auto 150px auto;
  padding: 0 10%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.place-to-find {
  padding: 30px;
  background: $white;
  height: 400px;
  max-width: 380px;
  text-align: center;
  position: relative;
  box-shadow: 0 5px 50px 0 rgba(0, 0, 0, 0.08);
  border-color: $grayborder $grayborder $green $grayborder;
  border-bottom: 10px solid $green;
}

.place-to-find:hover .place-to-find-icon {
  transition: all 0.2s ease-out;
  background: white;
}

.place-to-find-icon {
  width: 100px;
  height: 100px;
  padding: 20px;
  border-radius: 50%;
  position: absolute;
  background: $white;
  border: 2px solid $green;
  top: -50px;
  left: calc(50% - 50px);
  margin: auto;
  display: flex;
  justify-content: center;
}

.place-to-find-top {
  height: 175px;
}


@media screen and (max-width:1000px) {

  #where {
    flex-direction: column;
    margin: 80px auto 0 auto;
    padding: 0 5%;
  }

  .place-to-find {
    margin-bottom: 80px;
  }

}
