.display_inline {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  background: white;
  padding: 10px;
}

.padding-borders {
  display: inline-block;
  padding: 0 20px;
}

.orders.orders-index {
  a {
    padding: 0 10px;
  }
  .btn:not(:disabled):not(.disabled) {
    vertical-align: baseline;
  }
}

@media screen and (max-width:1000px) {
  .display_inline {
    padding: 10px 5px;
  }

  .orders.orders-index {
    a {
      padding: 0 5px 0 0;
    }
  }

  .padding-borders {
    padding: 0 5px;
  }
}
