#cart h4 {
  text-align: right;
}

#product_index_flex {
  display: flex;
  justify-content: space-between;
}

.farmers_title {
  font-family: 'Courgette';
  color: $green;
  font-size: 3em;
}

#farmers_word {
  background: $white;
  box-shadow: 0 15px 35px rgba(126, 87, 88, 0.1), 0 5px 15px rgba(0, 0, 0, 0.07);
  margin-top: 50px;
  min-height: 200px;
  display: flex;
}

#farmers_img {
  width: 30%;
  background-image: image-url('farmers-word.jpg');
  background-size: cover;
}

#farmers_txt {
  padding: 20px;

}
