#cart h4 {
  text-align: right;
}

#product_index_flex {
  display: flex;
  justify-content: space-between;
}

#product_index_left {
  width: 60%;
  h2:first-of-type {
    margin-top: 0;
  }
}

#product_index_right {
  width: 38%;
}

.farmers_title {
  font-size: 2em;
  display: inline-block;
  margin-bottom: 15px;
  color: $grayheaders;
}

#farmers_word {
  margin: 30px 0;
}


@media screen and (max-width:1000px) {
  #product_index_flex {
    flex-direction: column;
  }

  #product_index_left {
    width: 100%;
  }

  #product_index_right {
    width: 100%;
  }
}
