#product_index_flex {
  display: flex;
  justify-content: space-between;
}

#product_index_left {
  width: 60%;
  background: white;
  padding: 20px;
  border-radius: 15px;
  h2:first-of-type {
    margin-top: 0;
  }
}

#product_index_right {
  width: 38%;
}



@media screen and (max-width:1000px) {
  #product_index_flex {
    flex-direction: column;
  }

  #product_index_left {
    width: 100%;
  }

  #product_index_right {
    width: 100%;
  }

  .products-index #small-cart {
    overflow: visible;
    max-height: initial;
  }
}
