<div class="container">

  <h1>Récolte par légume - Global</h1>

  <ul>
    <% @years.each do |year| %>
    <li>
      <p><%= year[0] %> : <%= pluralize(year[1], "commande") %> - <%= link_to "Détail", date_path(year) %> </p>
    </li>
    <% end %>
  </ul>

  <%= link_to "Exporter", product_orders_path(format: "xlsx") %>
</div>
