<div class="container">

  <h1>Récolte par légume - Général</h1>
  <p><%= link_to "Retour", :back %></p>

  <ul>
    <% @years.each do |year| %>
    <li>
      <p><%= year[0] %> : <%= pluralize(year[1], "commande") %> - <%= link_to "Détail", date_path(year) %> </p>
    </li>
    <% end %>
  </ul>

</div>
