<div class="container">

  <h1>Récolte par légume</h1>

  <ul>
    <% @years.each do |year| %>
    <li>
      <p><%= year %> <%= year[0] %><%= link_to "Détail", date_path(2019) %> </p>
    </li>
    <% end %>
  </ul>

  <%= link_to "Exporter", product_orders_path(format: "xlsx") %>
</div>
