<div class="container">

<h1>Récolte par légume</h1>

    <ul>
      <% @orders.each do |order| %>
      <li>
        <p>Semaine <%= order[0] %> - <%= link_to "Détail", product_order_path(order[0]) %></p>
      </li>
      <% end %>
    </ul>

<%= link_to "Exporter", product_orders_path(format: "xlsx") %>

</div>
