<div class="container">
  <h1>Année <%= @year %></h1>
  <% @weeks.each do |week| %>
    Semaine <%= week.week_number %> - <%= link_to "Récolte Semaine #{week.week_number}", week_path(2019, 3) %>
    <% end %>

  <%= link_to "Exporter", product_orders_path(format: "xlsx") %>

</div>
