$orange: #E67E22;
$green: #32B796;
$gray: #000000;
$white: #FAFCFB;
$whitecard: #FDFDFD;
$graylight: #E4ECE8;
$grayborder: #DDD;
$grayicon: #AAA;
$graybodylight: #999;
$graybody: #777;
$grayheaders: #555;
$graydark: #333;
$skin: #ede4BB;
$red: #DD2222;
