@import "https://fonts.googleapis.com/icon?family=Material+Icons";

// Import Google fonts
@import url("https://fonts.googleapis.com/css?family=Hind:300,500,600,700|Open+Sans:400,700|Pacifico|Courgette");

// Define fonts for body and headers
$body-font: "Open Sans", "sans-serif";
$headers-font: "Hind", "sans-serif";

body {
  margin: 0;
  color: #777;
  font-family: $body-font;
  background: $white;
}

h1, h2, h3, h4 {
  color: #555;
  font-weight: 700;
  font-size: 1.2em;
  margin-bottom: 2em;
  font-family: $headers-font;
}

a, a:hover {
  color: $green;
}
