@import url("https://fonts.googleapis.com/icon?family=Material+Icons");

// Import Google fonts
@import url("https://fonts.googleapis.com/css?family=Hind:300,500,600,700|Open+Sans:400,700|Pacifico|Montserrat:400,600&display=swap'");

// Define fonts for body and headers
$body-font: "Montserrat", "sans-serif";
$headers-font: "Montserrat", "sans-serif";

body {
  margin: 0;
  color: #777;
  font-family: $body-font;
  background: $background;
  font-size: 16px;
  font-weight: 300;
}

h1, h2, h3, h4 {
  color: $grayheaders;
  font-weight: 500;
  margin: 0 0 1.5em 0;
  font-family: $headers-font;
  font-size: 18px;
}

h1 {
  font-size: 24px;
  padding: 25px 0 10px 0;
  font-weight: 800;
}

h2 {
  margin: 40px 0 30px 0;
  font-weight: 600;
  font-size: 20px;
}

h3 {
  margin: 30px 0 15px 0;
  font-weight: 700;
}


a, a:hover {
  color: $green;
  text-decoration: none;
}

img {
  max-width: 100%;
}

.text-small {
  font-size: 14px;
  color: $graybodylight;
}

.emoji {
  font-size: 1.2em;
}
