<div class="container">
  <h1>Editer la commande de <%= @user.first_name %> <%= @user.last_name %> </h1>

    <div id="customer_list_cart">
    <div class="row">
      <div class="col-8">
        <div id="products-list">
          <%= render 'products/product_list' %>
        </div>
      </div>

      <div class="col-4">
        <div class="card_form" id="order-cart">
          <%= render 'products/cart' %>
        </div>
      </div>
    </div>
  </div>
</div>
