<h1>Mes commandes</h1>

<% @orders.each do |order| %>
<li>Semaine <%= order.date %>
Montant <%= order.invoiced %> €
<%= link_to "Voir le détail", order_path(order) %>
</li>
<% end %>

<%= link_to "Retour à ma commande", order_path(current_order) %>
