<div class="container">

  <h1>Mes commandes</h1>

  <% if @orders.count == 0 %>
    <p>Vous n'avez pas encore passé de commande</p>
  <% else %>
    <% @orders.each do |order| %>
      <li>Commande du <%= order.selling_range.created_at.strftime("%d-%m-%Y") %> -
      <%= order.total_price %> €
      <%= link_to "Voir le détail", order_path(order) %>
      </li>
    <% end %>
  <% end %>

  <% if current_order == true %>
    <%= link_to "Retour à ma commande", order_path(current_order) %>
  <% end %>

</div>
