<div class="container">

  <h1>Mes commandes</h1>

  <% @myorders.each do |order| %>
    <li>Semaine <%= order.week_number %>
    Montant <%= order.total_price %> €
    <%= link_to "Voir le détail", order_path(order) %>
    </li>
  <% end %>

  <%= link_to "Retour à ma commande", order_path(current_order) %>

</div>
