<h1>Bienvenue chez Margaux et Clément</h1>
<h3>On élève des légumes et on cultive un enfant</h3>

<%= cl_image_tag("msp4yoruytfyfm8nnxjl", width: 400, crop: :fill) %>

<%= link_to "Passer une commande", products_path %>

