<div id="hp1">

  <h1>Bienvenue chez Margaux et Clément</h1>
  <h4>On élève des légumes et on cultive un enfant</h4>

  <%= button_to "Passer une commande", products_path, :method => :get, class: 'waves-effect waves-light btn-large' %>
</div>

<div id="hp2">
  <h4>Qui sommes-nous ?</h4>
  <div id="hp21">
    <p>Lorem ipsum dolor sin ametLorem ipsum dolor sin ametLorem ipsum dolor sin ametLorem ipsum dolor sin ametLorem ipsum dolor sin ametLorem ipsum dolor sin ametLorem ipsum dolor sin ametLorem ipsum dolor sin ametLorem ipsum dolor sin ametLorem ipsum dolor sin ametLorem ipsum dolor sin ametLorem ipsum dolor sin ametLorem ipsum dolor sin ametLorem ipsum dolor sin ametLorem ipsum dolor sin ametLorem ipsum dolor sin ametLorem ipsum dolor sin ametLorem ipsum dolor sin ametLorem ipsum dolor sin ametLorem ipsum dolor sin amet</p>
  </div>
  <div id="hp21">
    <p>Lorem ipsum dolor sin ametLorem ipsum dolor sin ametLorem ipsum dolor sin ametLorem ipsum dolor sin ametLorem ipsum dolor sin ametLorem ipsum dolor sin ametLorem ipsum dolor sin ametLorem ipsum dolor sin ametLorem ipsum dolor sin ametLorem ipsum dolor sin ametLorem ipsum dolor sin ametLorem ipsum dolor sin ametLorem ipsum dolor sin ametLorem ipsum dolor sin ametLorem ipsum dolor sin ametLorem ipsum dolor sin ametLorem ipsum dolor sin ametLorem ipsum dolor sin ametLorem ipsum dolor sin ametLorem ipsum dolor sin amet</p>
  </div>

</div>

