<div class="container">
  <h1>Tic tac...</h1>
  <h3>La vente n'est pas encore ouverte</h3>
  <p>Margaux, Clément et leurs partenaires sont actuellement en train de préparer la liste des produits qu'ils vont vous proposer.</br>
     La prochaine vente aura lieu le <%= l(@next_selling_range.starts_at, format:"%d %B à %H h") %>

  </p>

</div>
