<div class="container">
  <h1>Statistiques - Général</h1>
  <p><%= link_to "Retour", :back %></p>

  <h1>Récolte par légumes</h1>

  <ul>
    <% @orders_by_year.each do |date, orders_number| %>
      <li>
        <p>
          <%= date.strftime('%Y') %> : <%= pluralize(orders_number, "commande") %> -
          <%= link_to "Détail", admin_statistic_path(date.strftime('%Y')) %>
        </p>
      </li>
    <% end %>
  </ul>

  <h1>Chiffre d'affaires</h1>


</div>
