<div class="container">
  <div id="customer_list_cart">
    <div class="row">
      <div class="col-8">
        <div id="products-list">
          <h1>
            <%= link_to new_admin_product_path do %>
              <i class="fas fa-plus"></i>
            <% end %>
            Liste des produits
          </h1>
          <%= render 'product_list' %>
        </div>
      </div>
    </div>
  </div>
</div>
