<div class="container">

  <div id="products-list">
    <h1><span class="flex-title"><i class="fas fa-leaf fa-gray"></i>Liste des produits</span>
        <span class="flex-add"><%= link_to "Ajouter un produit", new_admin_product_path %></span>
    </h1>
    <h2><%= link_to "Gérer les catégories", admin_subcategories_path %></h2>
    <%= render 'product_list' %>
  </div>
</div>

