.btn-primary {
  background-color: $green;
  border-color: $green;
  font-family: Hind;
  border-radius: 10px;
  color: $white;
  padding: 8px 20px;
}

.btn-primary:hover {
  border-color: $green;
  background-color: $green;
  transition: 0.3s ease;
  position: relative;
  bottom: 1px;
  box-shadow: 0 2px 14px rgba(126,87,88,.1), 0 3px 6px rgba(0,0,0,.08);
}

.btn-primary.btn-homepage {
  padding: 18px 32px;
  font-size: 1.3em;
  font-weight: 600;
  margin-top: 2em;
}

.button-prev, .button-next {
  color: $green;
  font-size: 2em;
  cursor: pointer;
  z-index: 1;
}

.btn-outline-primary, .btn-outline-primary:hover {
  background-color: transparent;
  border-color: $green;
  font-family: Hind;
  border-radius: 50px;
  color: $green;
  padding: 8px 20px;
}

.btn-product-list, .btn.product-list:hover {
  border-color: transparent !important;
}

.btn a, .btn a:hover {
  color: $white;
}

.btn-link, .btn-link:hover {
  color: $green;
  padding: 0;
}
