.btn-primary {
  background-color: transparent;
  border-color: $green;
  font-family: Hind;
  border-radius: 50px;
  color: $green;
  padding: 8px 20px;
}

.btn-primary.big {
  padding: 15px 25px;
  font-size: 1.2em;
  border-color: white;
}

.btn-primary:hover {
  background-color: $green;
  border-color: $green;
  font-weight: bolder;
  transition: 0.3s ease;
}


.btn-outline-primary {
  background-color: transparent;
  border-color: $green;
  font-family: Hind;
  border-radius: 50px;
  color: $green;
  padding: 8px 20px;
}


