.whitecard {
  background: $white;
  border-radius: 5px;
  padding: 30px;
  box-shadow: 0 15px 35px rgba(126,87,88,.1), 0 5px 15px rgba(0,0,0,.07);
}

.card_form {
  background: $whitecard;
  margin: 2em 0;
  padding: 2em;
  border-top: 0.5em solid $green;
  box-shadow: 0 2px 3px 0 hsla(0, 0%, 0%, 0.2);
  p {
    font-weight: 700;
  }
}
