.whitecard {
  background: $white;
  padding: 30px;
  box-shadow: 0 15px 35px rgba(126,87,88,.1), 0 5px 15px rgba(0,0,0,.07);
}

.card_form {
  max-width: 800px;
  background: $whitecard;
  margin: 1em auto 2em auto;
  padding: 2em;
  border-top: 0.6em solid $green;
  box-shadow: 0 2px 3px 0 hsla(0, 0%, 0%, 0.2);
}

#order-cart {
  position: sticky;
  top: 120px;
}

@media screen and (max-width:1000px) {
  .card_form {
    padding: 1em;
  }
}
