#farmers_word {
  background: white;
  border-radius: 15px;
  padding: 30px;
  margin-bottom: 30px;
  h2 {
    margin-top: 0;
  }
}

#farmers-txt {
  padding-left: 15px;
  border-left: 2px solid $grayborder;
}
