form {
  margin-bottom: 20px;
}

abbr[title], abbr[data-original-title] {
  text-decoration: none;
}

.form-inline div {
  display: inline-block;
}

#new_transaction {
  display: inline-flex;
  align-items: center;
}

.form-group.decimal.optional.transaction_amount {
  margin-bottom: 0;
}

// .product-unit {
//   width: 50px;
//   display: inline-block
// }

textarea.form-control {
    height: 200px;
  }
