.fab {
  color: $green;
}

.fas {
  font-size: 1.2em;
  margin-right: 0.2em;
  color: $grayborder;
}

.fa-gray {
  color: $graybodylight;
}

.fa-green {
  color: $green;
}

.fas.fa-check-circle, .fa-power-off {
  color: $green;
}

.fas.fa-seedling {
  font-size: 2em;
  color: $green;
}

.far.fa-envelope, .fas.fa-phone {
  font-size: 1.5em;
  color: $grayborder;
  margin-right: 10px;
}
