.fab {
  color: $green;
}

.fas {
  font-size: 1.2em;
  margin-right: 0.2em;
  color: $grayborder;
}

.fas.fa-check-circle {
  color: $green;
}

.fas.fa-seedling {
  font-size: 2em;
  color: $green;
}

.far.fa-envelope, .fas.fa-phone {
  font-size: 1.5em;
  color: $grayborder;
  margin-right: 10px;
}

table .far.fa-edit {
  color: $grayborder;
}
