/* Main navbar */
.navbar {
  height: 100px;
  margin: 0px 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  a {
    padding: 0 15px;
  }
  position: fixed;
  display: flex;
  top: 0;
  width: 100%;
  margin: 0;
  background: white;
  z-index: 10;
}

.navbar-container {
  width: 1140px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* Logo */
.navbar-logo img {
  height: 70px;
}

/* Right section */
.navbar-wagon-right {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.fas.fa-sign-out-alt {
  color: $green;
}

@media screen and (max-width:1000px) {
  .navbar-logo img {
    height: 40px;
  }

  a {
    padding: 0 10px;
  }
}
