/* Main navbar */
.navbar {
  background: $white;
  height: 100px;
  margin: 0px 30px;
  border-bottom: 1px solid white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  a {
    padding: 0 15px;
  }
}

/* Logo */
.navbar-logo img {
  height: 50px;
}

/* Right section */
.navbar-wagon-right {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
