/* Main navbar */
.navbar {
  background-color: transparent;
  background: transparent;
  height: 100px;
  padding: 0px 30px;
  border-bottom: 1px solid white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  a {
    padding: 0 15px;
  }
}

/* Logo */
.navbar-logo img {
  height: 50px;
}

/* Right section */
.navbar-wagon-right {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navbar.transparent a, a:hover {
  color: white;
}
