.avatar_bordered {
  width: 2.5em;
  height: 2.5em;
  margin: 0 1em;
}

.product_avatar {
  border-radius: 50%;
  margin-right: 8px;
  box-shadow: 0 1px 2px rgba(0,0,0,0.2);
  display: flex;
  align-items: center;
  justify-content: center;
}

.product_line {
  display: flex;
  align-items: start;
  padding: 15px;
  background: white;
  box-shadow: 2px 2px 3px rgba(0,0,0,0.1);
  margin-bottom: 10px;
  border-radius: 3px;
  transition: 0.5s all cubic-bezier(0.21, 1.05, 0.24, 1.41);
  input[type="number" i] {
    border: none !important;
    border-bottom: 1px solid #ddd !important;
    width: 3em !important;
    height: 100% !important;
    text-align: end;
    background-color: $whitecard;
    color: #777;
  }
}

.product_line:hover {
  input[type="number" i] {
    border-bottom: 1px solid $green !important;
  }
}

.product_line_responsive {
  display: flex;
  flex-grow: 1;
}

.product_info {
  flex-grow: 1;
  line-height: 15px;
}

.product_quantity {
  width: 260px;
}

.product-title {
  font-size: 1.4em;
  line-height: 35px;
}

.product-price {
  font-size: 0.8em;
  margin-left: 0.5em;
}

.product-unit {
  width: 50px;
  display: inline-block;
}

#product_action_admin {
  display: flex;
}

.activate_product a {
  color: $red;
}


@media screen and (max-width:1000px) {

  .product_line_responsive {
    flex-direction: column;
  }

  .product_quantity {
    margin-right: 0;
    width: 100%;
    text-align: right;
  }

  .product_line {
    padding: 15px 5px;
    .fas {
      font-size: 2em;
    }
    .fas.fa-plus {
      margin: 0 20px;
    }
     input[type="number" i] {
      font-size: 1.2em;
    }
  }

}
