.avatar-bordered {
  width: 45px;
  height: 45px;
  margin: 0 15px 0 0;
}

.product-icon {
  flex-shrink: 0;
}

#products-list {
  h3 {
    font-weight: 400;
    margin-top: 50px;
  }
}

.product-line {
  display: flex;
  align-items: start;
  padding: 15px;
  background: white;
  border-bottom: 1px solid $grayborder;
  margin-bottom: 15px;
  border-radius: 3px;
  transition: 0.5s all cubic-bezier(0.21, 1.05, 0.24, 1.41);
  input[type="number" i] {
    border: none !important;
    border-bottom: 1px solid #ddd !important;
    width: 60px !important;
    background: white;
    color: #777;
    text-align: end;
  }
  input::placeholder {
    color: $graybodylight;
    text-align: left;
    font-size: 0.8em;
  }
  &.hide {
    display: none;
  }

  &.green-border {
    border-left: 5px solid $green;
  }
}

.product-line:hover {
  input[type="number" i] {
    border-bottom: 1px solid $green !important;
  }
}

.product_quantity {
  .dirty-icon {
    display: none;
  }

  &.dirty {
    .dirty-icon {
      display: block;
    }
    .clean-icon {
      display: none;
    }
  }
}

.product_line_responsive {
  display: flex;
  flex-grow: 1;
  align-self: center;
}

.product_info {
  flex-grow: 1;
  line-height: 20px;
}

.product_quantity {
  display: flex;
  width: 260px;
  flex-shrink: 0;
  align-items: center;
}

.product-title {
  font-size: 1.3em;
  line-height: 30px;
}

.product-price {
  font-size: 0.9em;
  margin-left: 0.5em;
}

.product-unit {
  width: 50px;
  display: inline-block;
}

#product_action_admin {
  display: flex;
}

.activate_product a {
  color: $red;
}


@media screen and (max-width:1000px) {

  .product_line_responsive {
    flex-direction: column;
  }

  .product_quantity {
    margin-right: 0;
    width: 100%;
    text-align: right;
  }

  .product-line {
    padding: 15px 5px;
    .fas {
      font-size: 1.8em;
    }
    .fas.fa-plus {
      margin: 0 20px;
    }
     input[type="number" i] {
      font-size: 1.2em;
    }
  }

}
