#products-search {
  display: inline-flex;
  flex: 1 1 300px;
  position: relative;
  border: 1px solid #ccc;
  border-radius: 5px;
  overflow: hidden;
  margin: 0 0 40px 0;
  background: white;
  width: 100%;
  color: $graybody;
}

.fa-search {
  padding: 0.5rem;
}

#search {
  border: none;
}
