table {
  width: 100%;
  margin-bottom: 2em;

}

.admin-table {
  box-shadow: 0 15px 35px rgba(126,87,88,.1), 0 5px 15px rgba(0,0,0,.07);
  border-collapse: collapse;
  border-radius: 5px;
  overflow: hidden;
  tr, td {
    padding: 0.8em
  }
  th {
    padding: 0.8em;
    border-bottom: 3px solid $grayborder;
  }
}

tr, td {
  padding: 0.5em;
}

tr {
  border-bottom: 1px solid $grayborder;
}


.min-65px {
  min-width: 65px;
}

.min-105px {
  min-width: 105px;
}
