@import "https://fonts.googleapis.com/icon?family=Material+Icons";

// Import Google fonts
@import url("https://fonts.googleapis.com/css?family=Hind:500,600|Open+Sans:400,700");

// Define fonts for body and headers
$body-font: "Open Sans", "sans-serif";
$headers-font: "Hind", "sans-serif";

body {
  margin: 0;
  font-family: "Open Sans";
  color: #777;
}

h1, h2, h3, h4 {
  font-family: "Hind";
  color: #555;
  font-weight: 800;
  font-size: 1.2em;
  margin-bottom: 2em;
}

a {
  color: $green;
}

