@import "https://fonts.googleapis.com/icon?family=Material+Icons";

// Import Google fonts
@import url("https://fonts.googleapis.com/css?family=Hind:500,600|Open+Sans:400,700");

// Define fonts for body and headers
$body-font: "Open Sans", "sans-serif";
$headers-font: "Hind", "sans-serif";

body {
  margin: 0;
}

h1, h2, h3, h4 {
  font-family: "Hind";
}

h1 {
  font-size: 2.5em;
  font-weight: 500;
}

body {
  font-family: "Open Sans";
}
