<p>Bonjour <%= @resource.first_name %>!</p>

<p>Vous avez demandé un moyen de modifier votre mot de passer. Voila un lien qui vous permettra d'en créer un nouveau.</p>

<p><%= link_to 'Créer un nouveau mot de passe', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>Si vous n'êtes pas a l'origine de cette demande, vous pouvez ignorez cet email.</p>
