<p>Bonjour <%= @resource.first_name %>!</p>

<p>Vous avez demandé à modifier votre mot de passe. Cliquez sur ce lien pour en créer un nouveau.</p>

<p><%= link_to 'Créer un nouveau mot de passe', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>Si vous n'êtes pas a l'origine de cette demande, vous pouvez ignorer cet email.</p>
