<div id="small-cart-content">
  <% if @product_orders.blank? %>
      <p>Votre panier est vide</p>
  <% else %>
    <table>
      <% @product_orders.each do |product_order| %>
        <tr>
          <%= render 'product_orders/show', product_order: product_order, order: @order %>
        </tr>
      <% end %>
    </table>

  <% end %>
</div>
