<div class="container">
  <% if current_user.admin? %>
    <div class="card_form">
      <h1>Ajouter un produit</h1>
      <%= render 'form', product: @product %>
    </div>
  <% end %>

  <div id="customer_list_cart">
    <div class="row">
      <div class="col-8">
        <div class="card_form">
          <%= render 'product_list' %>
        </div>
      </div>

      <div class="col-4">
        <div class="card_form">
          <%= render 'cart' %>
        </div>
      </div>
    </div>
  </div>
</div>
