<div class="container">
<h1>Ventes</h1>

<%= link_to "Ajouter une vente", new_sale_path %>

<ul>
  <% @sales.each do |sale| %>
  <li> Semaine <%= sale[0] %> - <%= link_to "Détail", sale_path(sale[0]) %></li>
  <% end %>
</ul>



</div>
